.header {
  position: sticky;
  top: 0;
  display: flex;
  background: #333;
  padding: 24px 32px;
  justify-content: space-between;
  align-items: center;

  &__logo {
    margin: 0;
    color: #fff;
    text-align: left;
    font: 700 32px 'Roboto', sans-serif;
    height: 36px;
  }
}

.basket {
  display: flex;
  align-items: center;
  
  gap: 8px;

  &__count {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 600 14px/20px "Roboto", sans-serif;
    line-height: 20px;
    width: 28px;
    height: 28px;
    padding: 4px;
    border-radius: 8px;
    background: #f50;
    color: #fff;
  }
}